body{
    background-color: rgb(242, 239, 245);
    color: rgb(0, 3, 3);
    font-family: Arial, sans-serif;
}

header{
    background-color: black;
    color: bisque;
    text-align: center;
    padding: 30px;
}

h1{
    font-size: 36px;
}

h2{
    color: rgb(27, 13, 226), 0, 0);
}

p{
    font-size: 18px;
    line-height: 1.6;
}

